<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.mybatis.dao.EmpDao">

    <!--查询全部员工-->
    <select id="findAll" resultType="com.spring.mybatis.entity.Emp">
        SELECT * FROM t_emp
    </select>

    <!--根据查询员工-->
    <select id="findEmpById" resultType="com.spring.mybatis.entity.Emp">
        SELECT * FROM t_emp
          <if test="empno != null">
              where empno = #{empno}
          </if>
    </select>

    <!--查询大于当前收入的员工-->
    <select id="findBySalary" parameterType="double" resultType="com.spring.mybatis.entity.Emp">
        SELECT * FROM t_emp
          <choose>
              <when test="salary > 2000">
                  WHERE sal > #{salary}
              </when>
              <otherwise>
                  WHERE sal >= 2000
              </otherwise>
          </choose>
    </select>

    <!--根据部门和员工查询当前员工-->
    <select id="findByDeptAndSalary" resultType="com.spring.mybatis.entity.Emp">
        SELECT * FROM t_emp
          <where>
              <if test="deptno != null">
                  AND deptno = #{deptno}
              </if>
              <if test="salary != null">
                  AND sal > #{salary}
              </if>
          </where>
    </select>

    <!--更新员工信息-->
    <update id="updateEmp" parameterType="com.spring.mybatis.entity.Emp">
        UPDATE t_emp
          <set>
              <if test="ename != null">
                  ename = #{ename},
              </if>
              <if test="job != null">
                  job = #{job},
              </if>
          </set>
        WHERE empno = #{empno}
    </update>

    <!--使用trim-->
    <!--根据部门和员工查询当前员工-->
    <select id="findByDeptAndSalary2" resultType="com.spring.mybatis.entity.Emp">
        SELECT * FROM t_emp
        <trim prefix="where" prefixOverrides="and">
            <if test="deptno != null">
                AND deptno = #{deptno}
            </if>
            <if test="salary != null">
                AND sal > #{salary}
            </if>
        </trim>
    </select>

    <!--使用trim-->
    <!--更新员工信息-->
    <update id="updateEmp2" parameterType="com.spring.mybatis.entity.Emp">
        UPDATE t_emp
        <trim prefix="set" suffixOverrides=",">
            <if test="ename != null">
                ename = #{ename},
            </if>
            <if test="job != null">
                job = #{job},
            </if>
        </trim>
        WHERE empno = #{empno}
    </update>

    <!--使用foreach-->
    <select id="findEmpByIds" parameterType="int[]" resultType="com.spring.mybatis.entity.Emp">
        SELECT * FROM t_emp where empno in
          <foreach collection="ids" open="(" close=")" separator="," item="id">
              #{id}
          </foreach>
    </select>

    <!--增加emp-->
    <insert id="addEmp" parameterType="com.spring.mybatis.entity.Emp">
        <selectKey keyProperty="empno" order="AFTER" resultType="java.lang.Integer">
            select LAST_INSERT_ID()
        </selectKey>
        INSERT INTO t_emp VALUES (
              #{empno},
              #{ename, jdbcType=VARCHAR},
              #{job, jdbcType=VARCHAR},
              #{mgr, jdbcType=NUMERIC},
              #{hiredate, jdbcType=DATE},
              #{sal, jdbcType=NUMERIC},
              #{comm, jdbcType=NUMERIC},
              #{deptno, jdbcType=NUMERIC})
    </insert>

    <!--嵌套查询，在查询一条员工的信息数据时，关联查询出对应的部门-->
    <select id="findById" parameterType="java.lang.Integer" resultMap="empMap">
        SELECT * FROM t_emp WHERE empno = #{id}
    </select>
    <select id="findDept" parameterType="java.lang.Integer" resultType="com.spring.mybatis.entity.Dept">
        SELECT * FROM t_dept WHERE deptno = #{deptno}
    </select>
    <resultMap id="empMap" type="com.spring.mybatis.entity.Emp">
        <association property="dept" column="deptno" javaType="com.spring.mybatis.entity.Dept" select="findDept"/>
    </resultMap>

    <!--使用嵌套查询，在查询一条员工数据时，关联查询出对应的部门-->
    <select id="findById2" parameterType="java.lang.Integer" resultMap="empMap2">
        SELECT e.*, d.* FROM t_emp e INNER JOIN t_dept d ON e.deptno = d.deptno WHERE e.empno = #{id}
    </select>
    <resultMap id="empMap2" type="com.spring.mybatis.entity.Emp">
        <id property="empno" column="empno"/>
        <result property="ename" column="ename"/>
        <result property="job" column="job"/>
        <result property="mgr" column="mgr"/>
        <result property="hiredate" column="hiredate"/>
        <result property="sal" column="sal"/>
        <result property="comm" column="comm"/>
        <result property="deptno" column="deptno"/>
        
        <association property="dept" column="deptno"  javaType="com.spring.mybatis.entity.Dept">
            <id property="deptno" column="deptno"/>
            <result property="dname" column="dname"/>
            <result property="loc" column="loc"/>
        </association>
    </resultMap>
</mapper>